[submodule "thirdparty/PSoC-W5100-Driver"]
	path = thirdparty/PSoC-W5100-Driver
	url = https://github.com/e2forlife/PSoC-W5100-Driver
[submodule "thirdparty/jsonlite"]
	path = thirdparty/jsonlite
	url = https://github.com/amamchur/jsonlite.git
